@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.site-wrapper {
    min-height: 100vh;
    flex-direction: column;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3e3f41; 
  }

// Cursor - pointer
#loggedOut a, #loggedIn button, #loggedIn a, .storage-item-buttons, .filter-button, .login button, #forgotten-password b, .signup button, #check, #terms label u, .reset-form button, .password-reset button, .manage-storage-unit button, #root > div > div > main > div > button, #contact-ol, #privacy button, #tos button, .form-space-housing button, header img, #theme span, #reveal-menu span, footer a, footer ul li, footer span:nth-child(1), .update-items-header i, #storage-overview-lower .update-items .update-item-description button, .storage-item .items-delete-box div button, .storage-details .delete-box div button, .storage-details .update-form button, .storage-details .update-form .storage-unit-header-house i  {
    cursor: pointer;
}

/******************************************** P A G E S ****************************************************/

/* MAIN PAGE */

/* Logged out menu */
#loggedOut a {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;

    text-decoration: none;
}
/* Logged in menu */
#loggedIn button, #loggedIn a {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;

    text-decoration: none;
}
#features div {
  box-shadow: $light-box-shadow;
  border: 1px ridge rgb(218, 222, 223);
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
}

/* ITEMS PAGE */

.storage-item {
    box-shadow: $light-box-shadow;
    border: 2px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;

    margin-top: 3vw;
}
// Progress bar
.progress-bar {
    position: relative;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5vw;

    font-weight: 500;
}
.progress-bar::before {
    content: '';
    display: flex;
    align-items: center;

    position: absolute;
    z-index: -1;

    background-color: rgb(173, 173, 173);

    border-radius: 5vw;
}
// Filter buttons
.filter-button-title {
    margin: .5rem 0;
}
.filter-button {
    border-radius: 3vw;
}
#single-storage-avail {
    position: absolute;
    z-index: 1;
}
.desription-section {
    display: flex;
    flex-direction: column;
}
// Item info
.storage-item-info {
    width: 70%;
}

/* LOGIN PAGE */

.login input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;

    padding: $base-padding * 2;
}
.login button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}

/* SIGN UP PAGE */

.signup input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;

    padding: $base-padding * 2;
}
.signup button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}
#check {
    box-shadow: none;
}

// PASSWORD RESET REQUEST PAGE

.reset-form input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;

    padding: $base-padding * 2;
}
.reset-form button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}

// PASSWORD RESET PAGE

.password-reset input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;

    padding: $base-padding * 2;
}
.password-reset button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}

// STORAGE LIST PAGE (WITH STORAGE INPUT COMPONENT)

.storage-wrapper h3 {
    width: 90%;
}
// Storage units housing
#storage-units-housing {
    box-shadow: 0px 0px 4px 2px rgb(200, 200, 200);

    // overflow: auto;
    overflow-x: scroll;
}
// Storage input form
.create-storage input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;

    padding: $base-padding * 2;
}
.create-storage button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}
// Storage list
.storage-details {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(187, 187, 187);
    border-bottom-right-radius: 3vw;
    border-top-left-radius: 3vw;

    padding: $base-padding * 2;
}
.storage-details button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}
.storage-wrapper button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}
.storage-details a {
    display: flex;
    justify-content: center;

    text-decoration: none;

    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}
// Delete box
.delete-box {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(187, 187, 187);
    border-bottom-right-radius: 3vw;
    border-top-left-radius: 3vw;
}
// Update form
.update-form {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(187, 187, 187);
    border-bottom-right-radius: 3vw;
    border-top-left-radius: 3vw;
}
.update-form input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.update-form i {
    color: black;
}

// STORAGE OVERVIEW PAGE

.single-storage-housing a {
    display: flex;
    justify-content: center;

    text-decoration: none;

    background-color: rgb(238, 238, 238);
    color: black;

    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
  }

  .single-storage-housing #storage-overview-lower .items-group {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    
    overflow: auto;
  }

// CONTACT PAGE

.app-contact-page input, .app-contact-page textarea {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
}

// TERMS OF USE & PRIVACY POLICY

#privacy button, #tos button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}

/******************************************** C O M P O N E N T S ****************************************************/

// ITEM INPUT FORM & SPACE CALCULATOR

.form-space-housing input {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.form-space-housing textarea {
    padding: 2vw;

    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.form-space-housing select {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.form-space-housing button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;

    padding: $base-padding * 2;
}

// HEADER

header {
    width: 100%;

    position: fixed;
    z-index: 1;

    box-shadow: $light-box-shadow;
}
#flip1 {
    border: 2px double grey;
    box-shadow: $light-box-shadow;

    transition: transform .25s, opacity .25s;
}
#flip2 {
    border: 2px double grey;
    box-shadow: $light-box-shadow;

    opacity: 0;

    transition: transform .25s, opacity .25s;
}
#theme {
    position: absolute;
    z-index: 0;
}

// NAVBAR

nav {
    position: fixed;

    z-index: 0;

    transition: margin .5s
}
nav div a {
    width: 30%;
    text-decoration: none;
    text-transform: uppercase;

    color: grey;
    background-color: rgb(255, 255, 255);

    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
}
#reveal-menu span {   
    text-transform: uppercase;

    color: grey;
    background-color: rgb(255, 255, 255);

    box-shadow: $light-box-shadow;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

// FOOTER

footer {
    flex-shrink: 0;
}

footer a {
    color: white;
}

footer span:nth-child(1) {
    text-transform: uppercase;

    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}
/* Dialog box */
.delete-box {
    display: none;
}
/* Dialog box (items) */
.items-delete-box {
    display: none;
}
/* Update form */
.update-form {
    display: none;
}
/* ITEM UPDATE FORM */
.update-items {
    display: none;

    box-shadow: $light-box-shadow;
    border: 2px ridge rgb(218, 222, 223);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.update-items-header i {
    width: 30%;
}
.update-items-dimensions label {
    width: 50%;
}
.update-items input {
    width: 50%;

    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.update-items textarea {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
.update-items select {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-top-right-radius: 3vw;
}
#storage-overview-lower .update-items .update-item-description button {
    box-shadow: $light-box-shadow;
    border: 1px ridge rgb(218, 222, 223);
    border-bottom-right-radius: 3vw;
}

// ITEMS DELETE DIALOG BOX

.items-delete-box {
    box-shadow: $light-box-shadow;
    border: 1px ridge gray;
    border-radius: 2vw;
}
.storage-item .items-delete-box div button {
    box-shadow: $light-box-shadow;
    border: 1px ridge gray;
    border-bottom-right-radius: 3vw;
    border-top-left-radius: 3vw;
  }

// ITEMS DETAILS

.storage-item-details {
    display: none;

    box-shadow: $light-box-shadow;
    border: 1px ridge gray;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
}