@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.site-wrapper {
    min-height: 100vh;
    flex-direction: column;
}

.main-wrapper {
    flex-direction: row-reverse;
}

// PAGES

// Main page
.main-page {
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav, header, footer, .main-page {
    border: 1px solid black;
}

header img {
    width: 5rem;
}

footer {
    margin-top: auto;
}

// Items page

.storage-item {
    border: 1px solid black;

    margin-top: .5rem;
}

.storage-item-buttons {
    cursor: pointer;
}
.progress-bar {
    position: relative;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 3em;

    background-color: rgb(100, 126, 126);

    border-radius: 1.5em;
    color: white;
}

.progress-bar::before {
    content: '';
    display: flex;
    align-items: center;

    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    z-index: -1;

    width: calc((var(--width, 0) * .904%));
    max-width: calc(100% - 1em);

    background-color: rgb(127, 202, 202);

    padding: 1em;

    border-radius: 1em;
}

.filter-button-title {
    margin: .5rem 0;
}

.filter-buttons {
    border: 1px solid black;
    border-radius: .5rem;

    padding: .2rem;
    margin: 2rem 0;
}

#single-storage-avail {
    position: absolute;
    z-index: 1;
}

.storage-item-details {
    display: none;
}

.desription-section {
    display: flex;
    flex-direction: column;
}

// COMPONENTS

// Dialog box
.delete-box {
    display: none;
}

// Dialog box (items)

.items-delete-box {
    display: none;
}

// Update form

.update-form {
    display: none;
}

.exit-update {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    background-color: brown;

    width: 3rem;
    height: 3rem;

    font-size: 2rem;

    border-radius: 1rem;
}

// Update items form

.update-items {
    display: none;

    width: 50%;
}
